body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background: #0f0f0f;
  color: #e5e5e5;
  scroll-behavior: smooth;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section {
  padding: 120px 20px;
  text-align: center;
}

.dark {
  background: #0f0f0f;
}

.light {
  background: #1a1a1a;
}

.final {
  background: url("assets/photo4.jpg") center/cover no-repeat;
  color: white;
}

.content-narrow {
  max-width: 700px;
  margin: auto;
}

.gold {
  color: #d4af37;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.small {
  font-size: 0.8rem;
}

.subtitle {
  opacity: 0.8;
}

.program {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.program div {
  text-align: center;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery img {
  width: 280px;
  border-radius: 6px;
  transition: 0.5s;
}

.gallery img:hover {
  transform: scale(1.05);
}

button {
  padding: 12px 30px;
  border: 1px solid #d4af37;
  background: transparent;
  color: #d4af37;
  cursor: pointer;
  transition: 0.4s;
  font-family: inherit;
}

button:hover {
  background: #d4af37;
  color: black;
}
