body {
  margin: 0;
  background: #0f0f0f;
  color: #e5e5e5;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 20px;
}

.hidden {
  display: none;
}

.gold {
  color: #d4af37;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  margin: 20px 0;
}

button {
  padding: 12px 30px;
  border: 1px solid #d4af37;
  background: transparent;
  color: #d4af37;
  cursor: pointer;
  font-family: inherit;
  transition: 0.4s;
}

button:hover {
  background: #d4af37;
  color: black;
}

/* Gallery */
.photo-section {
  margin-bottom: 60px;
  opacity: 0;
  transform: translateY(30px);
  transition: 1.5s ease;
}

.photo-section img {
  width: 80%;
  max-width: 500px;
  border-radius: 4px;
}

.photo-section.large img {
  max-width: 700px;
}

.caption {
  margin-top: 15px;
  font-size: 1.2rem;
  color: #d4af37;
}

.photo-section.show {
  opacity: 1;
  transform: translateY(0);
}
